- asttokens
- attrs
# - beautifulsoup4
- blinker
- bs4
- bzip2
- ca-certificates
- cachetools
- certifi
- charset-normalizer
- click
- decorator
- exceptiongroup
- executing
- gitdb
- gitpython
- idna
- importlib-metadata
- ipython
- jedi
- jinja2
- jsonschema-specifications
- jsonschema
- libffi
- markdown-it-py
- markupsafe
- matplotlib-inline
- mdurl
- ncurses
- numpy
- openssl
- packaging
- pandas
- parso
- pexpect
- pillow
- pip
- plotly
- prompt-toolkit
- prompt_toolkit
- protobuf
- ptyprocess
- pure_eval
- pyarrow
- pydeck
- pygments
- python-dateutil
- python
- pytz
- readline
- referencing
- requests
- rich
- rpds-py
- setuptools
- six
- smmap
- soupsieve
- sqlite
- stack_data
- streamlit
- tenacity
- tk
- toml
- toolz
- tornado
- traitlets
- typing-extensions
- tzdata
- tzlocal
- urllib3
- validators
- wcwidth
- wheel
- xz
- zipp
- zlib